@font-face {
  font-family: "iconfont"; /* Project id 4067214 */
  src: url('iconfont.woff2?t=1684378192676') format('woff2'),
       url('iconfont.woff?t=1684378192676') format('woff'),
       url('iconfont.ttf?t=1684378192676') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghuming:before {
  content: "\e65a";
}

.icon-mima:before {
  content: "\e602";
}

.icon-6nichengzhao:before {
  content: "\e65c";
}

.icon-mydata:before {
  content: "\e67c";
}

.icon-lianxiwomen:before {
  content: "\e64a";
}

.icon-wodeshoucang:before {
  content: "\e627";
}

.icon-zhucedenglu:before {
  content: "\e734";
}

.icon-denglu:before {
  content: "\e653";
}

.icon-search-2-copy:before {
  content: "\e615";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-fenlei:before {
  content: "\e733";
}

.icon-shouye:before {
  content: "\e62d";
}

